<header aria-label="Site header">
    <script src="./pages/components/header/script.js" type="module"></script>

    <div class="header-wrapper grid-macro-container">
        <div id="left-panel">
            <button class="header-button" id="nav-control" aria-label="Open navigation menu">
                <i class="fa-solid fa-bars"></i>
            </button>
            <span id="current-section">Navigation</span>
        </div>

        <div id="middle-panel">
            <div class="img-container">
                <img src="./assets/logos/logo-light.png" alt="Main Website Logo" role="presentation">
            </div>
        </div>
    </div>
</header>
