@keyframes showFilters {
    from {
        transform: translateX(-100%);
    } to {
        transform: translateX(0);
    }
}

@keyframes hideFilters {
    from {
        transform: translateX(0);
    } to {
        transform: translateX(-100%);
    }
}

@keyframes animateOut {
    from {
        transform: translate(calc(50% + 2em), -25%);
    } to {
        transform: translate(-50%, -500%);
    }
}

@keyframes animateIn {
    from {
        transform: translate(-50%, -500%);
    } to {
        transform: translate(calc(-150% + 2em), -25%);
    }
}
