#site-controls-container {
    position: absolute;
    top: 1em;
    right: 2em;
    font-size: 1.2em;
    width: 20vw;
    display: flex;
    justify-content: flex-end;
    gap: 1.4em;
}

.site-control-container {
    position: relative;
}

.site-control-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.4em;
  border-radius: 50%;
  border: 0;
  backdrop-filter: blur(0.8em);

  width: 2.2em;
  overflow: hidden;
  transition: transform 300ms cubic-bezier(0.19, 1, 0.22, 1);
  background-color: #FFF8;
}

.site-control-button span {
    display: inline-block;
    width: 0;
    max-width: 0;
    overflow: hidden;
}

.site-control-button:hover {
    transform: translateY(-1px);
}

.site-control-button:active {
    transform: scale(0.9);
}

.control-container {
    position: absolute;
    right: 0;
    bottom: 0;
    transform: translateY(calc(100% + 0.4em));
    width: clamp(10em, calc(15em - 2vw), 30em);
    z-index: 6;
    background-color: #FFF5;
    backdrop-filter: blur(1em) saturate(180%);
    border-radius: var(--border-rad);
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--spacing-sm);
    padding: var(--spacing-sm);
}

.control-container p {
    max-height: fit-content;
}

.control-container-widgets {
    flex: 1;
    width: 100%;
    display: grid;
    grid-auto-flow: row;
    gap: var(--spacing-md);
}

.widget {
    font-size: var(--fs-xs);
    background-color: #FFFFFF80;
    box-shadow: 0 0.25em 0.25em 0.25em #1113;
    border-radius: var(--border-rad);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--spacing-sm);
    gap: var(--spacing-sm);
}

.widget p {
    font-size: inherit;
    font-weight: 500;
}

.fourtwo {
    grid-area: span 4 / span 2;
}

.threetwo {
    grid-area: span 3 / span 2;
}

.widget-select {
    border: none;
    width: 100%;
    background-color: transparent;
    padding: var(--spacing-sm);
    overflow-y: scroll;
    scrollbar-width: thin;
}

.widget-select option {
    font-size: inherit;
    text-align: center;
    border-radius: var(--border-rad);
    transition: background-color 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.widget-select option:hover {
    background-color: var(--base-clr);
}

.fiveone {
    grid-area: span 1 / span 5;
}

#price-range {
    flex: 1;
    width: 100%;
}
#price-range input {
    display: none;
}

.slider {
    height: 1.5em;
    border-radius: var(--border-rad);
    position: relative;
}

.thumb {
    height: 100%;
    aspect-ratio: 1/1;
    background-color: white;
    position: absolute;
    border-radius: var(--border-rad);
    border: 1px solid #CCC;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#min-sel {
    left: 0;
}

#max-sel {
    right: 0;
}

.track {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--base-clr);
    border-radius: var(--border-rad);
}

.tooltip {
    top: 0;
    left: 50%;
    width: fit-content;
    white-space: nowrap;
    transform: translate(-50%, calc(-100% - var(--spacing-sm)));
    background-color: var(--base-clr);
    border-radius: var(--border-rad);
    padding-inline: var(--spacing-md);
    padding-block: var(--spacing-sm);
    position: absolute;
    opacity: 0;
    transition: opacity 300ms cubic-bezier(0.215, 0.610, 0.355, 1);
    z-index: 1;
}

.tooltip.visible {
    opacity: 1;
    z-index: 2;
}
