:root {
  --duration-xxs: 75ms;
  --duration-xs: 150ms;
  --duration-sm: 300ms;
  --duration-md: 600ms;
  --duration-lg: 1200ms;
  --duration-xl: 2400ms;

  --ease-base: cubic-bezier(0.215, 0.610, 0.355, 1);
  --ease-in: cubic-bezier(0.4, 0, 1, 1);
  --ease-out: cubic-bezier(0, 0, 0.2, 1);
  --ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
  --ease-linear: linear;

  --delay-none: 0ms;
  --delay-sm: 100ms;
  --delay-md: 200ms;
}
